*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  color: white;
  background: #2b2b2b;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
/*
    1.主色调，整体项目的主要颜色。
    2.首页的背景颜色。
    3.字体颜色。主要是和主色调来配合使用。
    4.表格滑过的颜色。
    5.表格选中的颜色。
    6/7.首页每一项渐变的颜色，待定。
*/
.theme_default .views {
  background: #2b2b2b;
  color: #fff;
}
.theme_darkgreen .views {
  background: #cecece;
  color: #2b2b2b;
}
